<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>タイトル</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<main role="main" class="container">
  <div class="starter-template">
    <h1>ついれびゅ!</h1>
    <p class="lead">べ…別にあんたの評価なんて気にしてないんだからねっ！</p>

    <%= form_with url: root_path, method: :get, local: true do |f| %>
      <div class="input-group">
        <%= f.text_field :keyword, class: "form-control" %>
        <span class="input-group-btn">
          <%= button_tag "検索", type: 'submit', class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>

    <% if @tweets.present? %>
      <div class="card bg-light m-5">
        <div class="card-title m-5">
          <h3 class="text-center">高評価と予想されるtweet</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <% @tweets.reverse.slice(0..2).each do |tweet| %>
              <div class="col-md-4">
                <%== tweet.tweet_html %>
              </div>
           <% end %>
          </div>
        </div>
      </div>
      <div class="card bg-light m-5">
        <div class="card-title m-5">
          <h3 class="text-center">低評価と予想されるtweet</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <% @tweets.slice(0..2).each do |tweet| %>
              <div class="col-md-4">
                <%== tweet.tweet_html %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</main>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>

